<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        
        <header>
            <nav>
                <a class=Icon href="https://gist.github.com/dharmveersinh-ixfi/9711b811f219c7c1f641540f6aa53b3a">Assignment</a>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#contact">Contact</a>
            </nav>

        {% block start %}


        {% endblock %}
        <footer id=contact>
            <p>Contact us at: soumalyasaha200@email.com | +919007830081</p>
        </footer>
    </body>
</html>