{% extends "base.html" %}
{% block start %}
<main>
    <p class="para1">Welcome to your website! This is the main content area with some text.</p>
    <p class="para1">Current date and time: {{ current_time }}</p>
    <h2>Random Quote</h2>
    <p class="quote">"{{ random_quote }}"- {{author}}</p>
    <div class="heading">
        <h1>Contact Form</h1>
        <p id="Subheading">Please fill all the text in the fields.</p>
    </div>
    <div class= 'form'>
    <form action="post">

        <p class="name">
            Your Name:<br>
            <input type="text" placeholder="Your Full Name">
        </p>
        <p class="email"> Your Email:<br>
            <input type="email" name="email" id="" placeholder="Enter your Email">
        </p>
        <p class="number">
            Your mobile number:<br>
            <input type="text" placeholder="Enter your mobile number">
        </p>
        <p class="message">
            Your message to us:<br>
            <textarea name="message" id="" cols="50" rows="5" placeholder="Enter your query here"></textarea>
        </p>
        <input type="submit" value="Submit"> <input type="reset" value="Reset">
    </form>
    </div>

    
</main>

{% endblock %}